#!/usr/bin/make -f
# Modernised debian/rules using debhelper-compat=13.

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- --with-builtins=all --sysconfdir=/etc

override_dh_auto_install:
	dh_auto_install
	install -d debian/ccze/etc
	src/ccze-dump > debian/ccze/etc/cczerc
